#!/bin/sh

. "$HOME/.local/env.shell"

MONITOR_AREA="$(bspwm-monitor-info.sh area focused)"
export MONITOR_WIDTH="${MONITOR_AREA%% *}"
MONITOR_AREA="${MONITOR_AREA#* }"
export MONITOR_HEIGHT="${MONITOR_AREA%% *}"
MONITOR_AREA="${MONITOR_AREA#* }"
export MONITOR_X="${MONITOR_AREA%% *}"
export MONITOR_Y="${MONITOR_AREA#* }"
unset MONITOR_AREA

WINDOW_ID="$1"
CLASS_NAME="$2"
INSTANCE_NAME="$3"
shift 3

if [ -d "$XDG_CONFIG_HOME/bspwm/rules.d" ]
then
    cd -- "$XDG_CONFIG_HOME/bspwm/rules.d"

    SCRIPT="./$CLASS_NAME"
    if [ -x "$SCRIPT" ]
    then
        exec "$SCRIPT" "$WINDOW_ID" "$CLASS_NAME" "$INSTANCE_NAME" "$@"
    else
        echo "$@"
    fi
else
    echo "$@"
fi

